.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}
.Pokecard {
  width: 14rem;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.514);
}
body {
  background-color: gray;
}
